@use "../base/variables";
@use "../utilities/extend";
@use "sass:map";

main {
    div {
        p {}

        div {
            button {
                @extend %button_base
            }
        }

        div {

            div {
                margin-bottom: 1rem;

                label {
                    margin-bottom: 0.5rem;
                    display: inline-block;
                    font-weight: bold;
                }

                input {
                    width: 100%;
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    font-weight: 400;
                    border-radius: 0.375rem;
                    border: 1px solid map.get(variables.$colores, terciario);

                    &:focus {
                        box-shadow: 0 0 0 0.25rem map.get(variables.$colores, terciario);
                        outline: 0;
                    }
                }

                ul {
                    color: map.get(variables.$colores, primario);
                }
            }

            button {}
        }

        div {
            table {
                @extend %table_base;

                thead,
                tfoot {
                    @extend %table_thead_tfoot_base;
                }

                th,
                td {
                    @extend %table_tr_td_base;
                }

                td:nth-child(1),
                td:nth-child(2) {
                    text-align: center;
                }

                td:nth-child(3),
                td:nth-child(4),
                td:nth-child(5),
                td:nth-child(6),
                td:nth-child(7),
                td:nth-child(8) {
                    text-align: right;
                }

                tbody>tr:nth-of-type(even) {
                    @extend %table_tr_even_base;
                }
            }
        }

        div {
            button {}
        }
    }
}