@use "../base/variables";
@use "../utilities/extend";
@use "sass:map";

main {
    div {
        div {
            &.datosPredeterminados {
                button {
                    @extend %button_base;

                    &:disabled {
                        @extend %button_disabled_base;
                    }
                }
            }
        }

        div {
            &.datosPersonalizados {
                background-color: map.get(variables.$colores, fondo);
                padding: 10px;

                div {
                    margin-bottom: 1rem;

                    label {
                        @extend %label_base;
                    }

                    input {
                        width: 97%;
                        @extend %input_base;

                        &:focus {
                            @extend %input_focus_base;
                        }
                    }

                    ul {
                        color: map.get(variables.$colores, primario);
                    }
                }

                button {
                    @extend %button_base;

                    &:disabled {
                        @extend %button_disabled_base;
                    }
                }
            }
        }

        div {
            &.resultados {
                table {
                    @extend %table_base;

                    thead,
                    tfoot {
                        @extend %table_thead_tfoot_base;
                    }

                    th,
                    td {
                        @extend %table_tr_td_base;
                    }

                    td:nth-child(1),
                    td:nth-child(2) {
                        text-align: center;
                    }

                    td:nth-child(3),
                    td:nth-child(4),
                    td:nth-child(5),
                    td:nth-child(6),
                    td:nth-child(7),
                    td:nth-child(8) {
                        text-align: right;
                    }

                    tbody>tr:nth-of-type(even) {
                        @extend %table_tr_even_base;
                    }
                }
            }
        }

        div {
            &.regresar {
                margin: 10px 0px;

                button {
                    @extend %button_base
                }
            }
        }
    }
}